.App {
  width: 100%;
}
.blue {
  background-color: #273739;
  color: white;
}
.white {
  background-color: #273739;
  color: white;
}
.light {
  background-color: #ffffff;
  color: black;
}
.landing-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Sahitya;
  font-style: normal;
  font-weight: bold;
  font-size: 67px;
  line-height: 104px;
  display: flex;
  align-items: center;
  text-align: center;
}
